In [1]:
# Prerequisite package imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [2]:
# Creating a function to show the root path to where the dataset is located
def current_path(): 
    print("Current working directory before") 
    print(os.getcwd()) 
    print() 
current_path()

Current working directory before
C:\Users\mmnlw

In [3]:
nga = pd.read_excel('D:/data/Datasets/nga_covid.xls')

In [4]:
nga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26866 entries, 0 to 26865
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             26866 non-null  int64
 1   DATE                           26866 non-null  datetime64[ns]
 2   ISO_3                          26866 non-null  object
 3   PAYS                           26866 non-null  object
 4   ID_PAYS                        26866 non-null  int64
 5   REGION                         26866 non-null  object
 6   ID_REGION                      26866 non-null  int64
 7   CONTAMINES                     26802 non-null  float64
 8   DECES                          26463 non-null  float64
 9   GUERIS                         26280 non-null  float64
 10  CONTAMINES_FEMME               17734 non-null  float64
 11  CONTAMINES_HOMME               17734 non-null  float64
 12  CONTAMINES_GENRE_NON_SPECIFIE  23663 non-null  float64
 13  SOURCE                         26866 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(4)
memory usage: 2.9+ MB

In [3]:
nga.describe()

,ID,ID_PAYS,ID_REGION,CONTAMINES,DECES,GUERIS,CONTAMINES_FEMME,CONTAMINES_HOMME,CONTAMINES_GENRE_NON_SPECIFIE
count,26866.000000,26866.0,26866.00000,26802.000000,26463.000000,26280.000000,17734.000000,17734.000000,23663.000000
mean,13433.500000,15.0,188.50000,9.440452,0.118467,8.714574,2.197023,1.259276,8.102481
std,7755.690502,0.0,10.96606,45.747271,0.942725,107.723565,25.365332,15.169063,46.874095
min,1.000000,15.0,170.00000,-1.000000,0.000000,-46.000000,0.000000,-90.000000,-1.000000
25%,6717.250000,15.0,179.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,13433.500000,15.0,188.50000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,20149.750000,15.0,198.00000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,26866.000000,15.0,207.00000,3393.000000,79.000000,10946.000000,696.000000,493.000000,3393.000000

Some of the column headings are written in french so things to note:
- Pays = Country
- ID_Pays = Country ID
- Deces = Death
- Gueris =  Cured
- contamines = contaminated
- Contamines_femme = contaminated female
- Contamines_homme = contaminated male
- Contamines_genre_non = unspecified gender

In [5]:
#Creating a copy of the dataset 
nga_copy = nga.copy()

In [6]:
nga_copy.head()

,ID,DATE,ISO_3,PAYS,ID_PAYS,REGION,ID_REGION,CONTAMINES,DECES,GUERIS,CONTAMINES_FEMME,CONTAMINES_HOMME,CONTAMINES_GENRE_NON_SPECIFIE,SOURCE
0,1,2020-02-27,NGA,Nigéria,15,Abia,170,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
1,2,2020-02-27,NGA,Nigéria,15,Adamawa,171,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
2,3,2020-02-27,NGA,Nigéria,15,Akwa Ibom,172,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
3,4,2020-02-27,NGA,Nigéria,15,Anambra,173,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
4,5,2020-02-27,NGA,Nigéria,15,Bauchi,174,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control

In [8]:
# Have to change the column headers from french to english for easier understanding
nga_copy.rename(columns = {'PAYS':'country','CONTAMINES':'contaminated',
                           'DECES':'death','GUERIS':'cured',
                           'CONTAMINES_FEMME':'contaminated_female',
                           'CONTAMINES_HOMME':'contaminated_male',
                           'CONTAMINES_GENRE_NON_SPECIFIE':'contaminated_non_specific_gender'}, inplace = True)
nga_copy.head()

,ID,DATE,ISO_3,country,ID_PAYS,REGION,ID_REGION,contaminated,death,cured,contaminated_female,contaminated_male,contaminated_non_specific_gender,SOURCE
0,1,2020-02-27,NGA,Nigéria,15,Abia,170,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
1,2,2020-02-27,NGA,Nigéria,15,Adamawa,171,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
2,3,2020-02-27,NGA,Nigéria,15,Akwa Ibom,172,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
3,4,2020-02-27,NGA,Nigéria,15,Anambra,173,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control
4,5,2020-02-27,NGA,Nigéria,15,Bauchi,174,0.0,0.0,0.0,0.0,0.0,0.0,Nigeria Centre for Disease Control

In [10]:
# Missing values from the dataset
nga_copy[['death','cured','contaminated','contaminated_female',
          'contaminated_male','contaminated_non_specific_gender']].isnull().sum()

death                                403
cured                                586
contaminated                          64
contaminated_female                 9132
contaminated_male                   9132
contaminated_non_specific_gender    3203
dtype: int64

In [11]:
# Creating the averages to fill up null values in these various columns
nga_copy['death'].fillna(nga_copy['death'].mean(), inplace=True)
nga_copy['cured'].fillna(nga_copy['cured'].mean(), inplace=True)
nga_copy['contaminated'].fillna(nga_copy['contaminated'].mean(), inplace=True)
nga_copy['contaminated_non_specific_gender'].fillna(nga_copy['contaminated_non_specific_gender'].mean(), inplace=True)
nga_copy['contaminated_male'].fillna(nga_copy['contaminated_male'].mean(), inplace=True)
nga_copy['contaminated_female'].fillna(nga_copy['contaminated_female'].mean(), inplace=True)

In [12]:
# Converting the data type of certain columns from float64 to int32
nga_copy = nga_copy.astype({'contaminated':'int','death':'int','cured':'int',
                           'contaminated_female':'int','contaminated_male':'int',
                           'contaminated_non_specific_gender':'int'})
nga_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26866 entries, 0 to 26865
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                26866 non-null  int64
 1   DATE                              26866 non-null  datetime64[ns]
 2   ISO_3                             26866 non-null  object
 3   country                           26866 non-null  object
 4   ID_PAYS                           26866 non-null  int64
 5   REGION                            26866 non-null  object
 6   ID_REGION                         26866 non-null  int64
 7   contaminated                      26866 non-null  int32
 8   death                             26866 non-null  int32
 9   cured                             26866 non-null  int32
 10  contaminated_female               26866 non-null  int32
 11  contaminated_male                 26866 non-null  int32
 12  contaminated_non_specific_gender  26866 non-null  int32
 13  SOURCE                            26866 non-null  object
dtypes: datetime64[ns](1), int32(6), int64(3), object(4)
memory usage: 2.3+ MB

In [13]:
# Searching for duplicates 
nga_copy[nga_copy.duplicated(['DATE'])]

,ID,DATE,ISO_3,country,ID_PAYS,REGION,ID_REGION,contaminated,death,cured,contaminated_female,contaminated_male,contaminated_non_specific_gender,SOURCE
1,2,2020-02-27,NGA,Nigéria,15,Adamawa,171,0,0,0,0,0,0,Nigeria Centre for Disease Control
2,3,2020-02-27,NGA,Nigéria,15,Akwa Ibom,172,0,0,0,0,0,0,Nigeria Centre for Disease Control
3,4,2020-02-27,NGA,Nigéria,15,Anambra,173,0,0,0,0,0,0,Nigeria Centre for Disease Control
4,5,2020-02-27,NGA,Nigéria,15,Bauchi,174,0,0,0,0,0,0,Nigeria Centre for Disease Control
5,6,2020-02-27,NGA,Nigéria,15,Bayelsa,175,0,0,0,0,0,0,Nigeria Centre for Disease Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26861,26862,2022-02-02,NGA,Nigéria,15,Sokoto,203,0,0,0,0,0,0,Nigeria Centre for Disease Control
26862,26863,2022-02-02,NGA,Nigéria,15,Taraba,204,0,0,0,0,0,0,Nigeria Centre for Disease Control
26863,26864,2022-02-02,NGA,Nigéria,15,Yobe,205,0,0,0,0,0,0,Nigeria Centre for Disease Control
26864,26865,2022-02-02,NGA,Nigéria,15,Zamfara,206,0,0,0,0,0,0,Nigeria Centre for Disease Control
26865,26866,2022-02-02,NGA,Nigéria,15,Non spécifié,207,0,0,0,0,0,0,Nigeria Centre for Disease Control

In [15]:
#Saving the copy as a csv file to be used for visualization with Tableau or Power Bi
nga_copy.to_csv('nga_copy.csv')

In [70]:
nga_copy[['contaminated_female','contaminated_male','contaminated_non_specific_gender']].sum()

contaminated_female                  57226
contaminated_male                    31464
contaminated_non_specific_gender    217353
dtype: int64

In [71]:
nga_copy[['death','cured']].sum()

death      3135
cured    233707
dtype: int64

In [20]:
nga_copy[['REGION','contaminated']].value_counts()

REGION        contaminated
Non spécifié  0               704
Kogi          0               703
Zamfara       0               645
Yobe          0               641
Adamawa       0               638
                             ...
Ogun          60                1
              72                1
              73                1
              76                1
Zamfara       45                1
Length: 2094, dtype: int64

In [25]:
nga_copy.groupby('REGION')[['contaminated','death','cured']].sum().head()

           contaminated  death  cured
REGION
Abia               2152     34   2264
Adamawa            1230     32   1255
Akwa Ibom          4625     44   4646
Anambra            2770     19   2830
Bauchi             1936     24   2030

In [24]:
nga_copy.groupby('REGION')[['contaminated_female','contaminated_male','contaminated_non_specific_gender']].sum()

,contaminated_female,contaminated_male,contaminated_non_specific_gender
REGION,,,
Abia,324,162,1814
Adamawa,138,69,1267
Akwa Ibom,466,233,4650
Anambra,246,123,2852
Bauchi,562,281,2114
Bayelsa,400,200,1302
Benue,250,125,1997
Borno,348,174,1636
Cross River,174,87,843
Delta,614,307,4356
Ebonyi,274,137,1567
Edo,828,414,6261
Ekiti,592,296,2274
Enugu,334,167,2311
Federal Capital Territory,1198,599,23869
Gombe,522,261,3147
Imo,364,182,2485
Jigawa,268,134,547
Kaduna,982,491,9971
Kano,862,431,4154
Katsina,364,182,2217
Kebbi,138,69,643
Kogi,10,5,32
Kwara,512,256,4259
Lagos,1318,659,79493
Nasarawa,484,242,2915
Niger,266,133,1269
Non spécifié,38980,22341,24
Ogun,894,447,5172
Ondo,498,249,4401
Osun,570,285,3192
Oyo,850,425,8067
Plateau,810,405,7799
Rivers,1120,560,14878
Sokoto,216,108,953
Taraba,194,97,1552
Yobe,132,66,654
Zamfara,124,62,416

In [32]:
nga_copy.groupby('REGION')['contaminated'].sum().sort_values(ascending=False).head()

REGION
Lagos                        98393
Federal Capital Territory    28214
Rivers                       16449
Kaduna                       11212
Plateau                      10254
Name: contaminated, dtype: int32

In [34]:
nga_copy.groupby('REGION')['death'].sum().sort_values(ascending=False).head()

REGION
Lagos                        769
Edo                          320
Federal Capital Territory    247
Oyo                          201
Rivers                       154
Name: death, dtype: int32

In [35]:
nga_copy.groupby('REGION')['cured'].sum().sort_values(ascending=False).head()

REGION
Lagos                        80210
Federal Capital Territory    27557
Rivers                       16300
Kaduna                       11225
Plateau                      10301
Name: cured, dtype: int32